.hello{
  height: 100vh;
  /* background-image:url('./DHSP.jpg'); */
  opacity: 0.8;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dropRadi{
background: #f9f9f9;
color: #00287d !important;
/* border-radius: 30px; */
/* border: 0px solid #002F81; */
width: 220px;
border: 1px solid rgb(0,47,129);
margin: 5px;
font-size: 12px !important;
/* font-weight: 600; */
word-wrap: break-word;
white-space: normal;
z-index: 2;
box-shadow: rgba(17, 17, 17, 0.41) 3px 3px 7px;
font-weight: 595 !important;
}

.dropRadi a {
  display: ruby;
  /* display: inline-flex; */
}

.appNavbar{
  width: 100%;
  /* background-color: rgba(0,0,0,0.1); */
  position: fixed ;
}
/* .a{
  color: #003082 !important; 
 display: ruby !important;
} */


.nav-brand, a{
  font-size: 15px !important;

  color: rgb(151,151,151) !important;
}

.navbar-brand{
  font-size: 28px;
  letter-spacing: 4px;
  font-weight: bold;
}

.dropdown-Icon{
  color: rgb(255, 255, 255);
background-color: #002F81;
/* color:'#ffff',backgroundColor:'blue' */
padding: 5px 11px;
width: 33px;
height: 33px;
/* margin-left: 58px; */

}

.hhh{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  /* background-color: rgba(0,0,0,0.1); */
}
/* .row1 {
  min-height: 400px;
  margin-top: 10%;
  height: 20vh;
  margin-top: 200px;
} */
.hhh h1{
  font-size: 4.5em;
  color :orange;
  text-align: center;
  text-transform: capitalize;
}

.hhh   p{
  margin-top: 5%;
  font-size: 2em;
  /* color: rgb(63,65,70); */
  text-align: center;
}
