.ColorLegend .Legend{
  width: 200px;
  height: 100px;
  border: 1px solid #232323;

}
.ColorLegend  .circle{
  width: 15px;
  height: 15px;
  border: 0px solid #232323;
  border-radius: 50%;
  flex-direction: row;
}
.tier {
  margin: 5px;
}
.tier p {
  padding: 5px;
}

.circle{
  margin-left: 50%;
}
