.App{
  margin-top: 10%;
  margin-bottom: 10%;
}
.Indicators{

  margin: auto;
  margin-bottom: 2.5%;
}
   /* svg{

     margin-left: 20%;
   } */

 .App > h2 {
   text-align: center;
   text-transform: capitalize;
 }
