/* .icon-row {
    margin-bottom: -67px;
}

.icon-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.icon-div {
    background: #fff;
    padding: 20px;
    box-shadow: 0px 20px 25px #ddd;
    border-radius: 50%;
    margin-top: 90px;
    width: 30%;
}

.icon-image-section2 {
    width: 90%;
    height: auto;
}

.section2-content-row {
    text-align: left;
    width: 108%;
    padding:20px;
}

.individual-content-column {
    padding: 60px;
}

.middlebox-section2 {
    background: #deedf4;
    box-shadow: 0px 0px 20px #ddd;
    border-radius: 0px;
    border-Radius: '0px';
    background: white;
    /* width: 30%; */
}


/* .read-more {
    font-size: 13px;
    color:  #00287D !important;
} */ */
