.tooltip {
    position: relative !important;
    display: inline-block !important;
    border-bottom: 1px dotted black !important;
}

.tooltip .tooltiptext {
    visibility: hidden !important;
    width: 120px !important;
    background-color: black !important;
    color: #fff !important;
    text-align: center !important;
    border-radius: 6px !important;
    padding: 5px 0 !important;

    /* Position the tooltip */
    position: absolute !important;
    z-index: 1 !important;
}

.tooltip:hover .tooltiptext {
    visibility: visible !important;
}
.keyFeagureSection{
    margin: 0 20px;
}
.keyfigureBox{
    background-color: #E4ECF1;
    width: 100%;
    height: 154px;
    border-bottom : 3px solid #fff;
    padding : 22% 0;
    margin-right: 10px;
}
.keyfigureBox p{
    margin-bottom: 5px !important;
    font-size: 13px !important;
}
.keyGrid {
    padding-right: 1rem !important;
    padding-bottom : 1rem;
}
.token_rtinfo .keyGrid:nth-child(6) {
    /* border-right : 2px solid #fff;*/
    padding-right: 0 !important;
}

@media only screen and (max-width: 720px) {
    .keyFeagureSection{
        margin: 0;
    }
    .token_rtinfo {
        padding: 0;
        margin: 0 !important;
    }
    .keyGrid{
        padding: 0 !important;
    }
    .token_rtinfo .keyGrid:nth-child(odd) {
        border-right : 2px solid #fff;
    }
}