.App{
  margin-top: 10%;
  margin-bottom: 10%;
}
.Indicators{

  /* margin: auto;
  margin-bottom: 2.5%; */
}
   /* svg{

     margin-left: 20%;
   } */

 .App > h2 {
   text-align: center;
   text-transform: capitalize;
 }
 .layout{
   display: flex;
 }
.explanationDiv{
    text-align: center;
     text-transform: capitalize;
}

.explanation{
  /* margin-top: 20%; */
padding-left: 10%;
}
@media only screen and (max-width: 720px) {
  .explanation{
    padding: 0;
  }
}