.progressbar {
left: 60.5%;
background-color: #f9e310 !important;
width: 13px !important;; 
border-radius: 12px !important;;
height: 70px;
padding-top: -14px;
margin-top: 9px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .section_banner{
        height: 234px;
    }

        .responsive-row{
            margin-top: -114px;
        }
        .banner_text p {
            font-size: 12px;
        }
        .align-items-center {
            margin-top: -36%;
        }
        .tk_counter_inner .progress {
            width: 110%;
            height: 20px;
        }

        .progressbar {
            left: 60.5%;
            background-color: #f9e310 !important;
            width: 4px !important;
            border-radius: 12px !important;
            height: 24px;
            padding-top: -14px;
            margin-top: 7px;
        }
        .progress .progress_label {
            top: -7px;
            bottom: -10px;
        }

        .tk_countdown {
            padding: 0px;
            margin-top: -3;
        }
        .progress_min_val, .progress_max_val {
            font-size: 14px;
            padding: 0 5px;
            left: -5px;
            top: -27px;
        }

        .progress_max_val {
             
            right: -85px;
          
        }
     
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px)  {
        /* .country-banner-cover{
            height:35%;
        }

        .country-banner-content {
            width: 100%;
            margin: 93% 48%;
            background-color: #fff0;
        } */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
        /* .country-banner {
             height: 80%;
        } */
      
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
        .section_banner{
            height: 620px;
        }

        
        .mainbanner{
            margin-bottom: 15%;
        }
        

    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
        .section_banner{
            height: 680;
        }
        /* .banner_text {
            margin-bottom: 15%;
            padding: 5%;
        } */
        
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
        .section_banner{
            height: 234px;
        }
section, .top_footer {
    padding: 72px 0;
}
            .responsive-row{
                margin-top: -114px;
            }
            .banner_text p {
                font-size: 12px;
            }
            .align-items-center {
                margin-top: -36%;
            }
            .tk_counter_inner .progress {
                width: 110%;
                height: 20px;
            }

            .progressbar {
                left: 60.5%;
                background-color: #f9e310 !important;
                width: 4px !important;
                border-radius: 12px !important;
                height: 22px;
                padding-top: -14px;
                margin-top: 7px;
            }
            .progress .progress_label {
                top: -7px;
                bottom: -10px;
            }

            .tk_countdown {
                padding: 0px;
                margin-top: -3;
            }
            .progress_min_val, .progress_max_val {
                font-size: 14px;
                padding: 0 5px;
                left: -5px;
                top: -27px;
            }

            .progress_max_val {
                 
                right: -85px;
              
            }
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        .section_banner{
            height: 234px;
        }

            .responsive-row{
                margin-top: -114px;
            }
            .banner_text p {
                font-size: 12px;
            }
            .align-items-center {
                margin-top: -36%;
            }
            .tk_counter_inner .progress {
                width: 110%;
                height: 20px;
            }

            .progressbar {
                left: 60.5%;
                background-color: #f9e310 !important;
                width: 4px !important;
                border-radius: 12px !important;
                height: 22px;
                padding-top: -14px;
                margin-top: 7px;
            }
            .progress .progress_label {
                top: -7px;
                bottom: -10px;
            }

            .tk_countdown {
                padding: 0px;
                margin-top: -3;
            }
            .progress_min_val, .progress_max_val {
                font-size: 14px;
                padding: 0 5px;
                left: -5px;
                top: -27px;
            }

            .progress_max_val {
                 
                right: -85px;
              
            }
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        .section_banner{height: 150px;}
          }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        .section_banner{
            height: 234px;
        }

            .responsive-row{
                margin-top: -114px;
            }
            .banner_text p {
                font-size: 12px;
            }
            .align-items-center {
                margin-top: -36%;
            }
            .tk_counter_inner .progress {
                width: 110%;
                height: 20px;
            }

            .progressbar {
                left: 60.5%;
                background-color: #f9e310 !important;
                width: 4px !important;
                border-radius: 12px !important;
                height: 22px;
                padding-top: -14px;
                margin-top: 7px;
            }
            .progress .progress_label {
                top: -7px;
                bottom: -10px;
            }

            .tk_countdown {
                padding: 0px;
                margin-top: -3;
            }
            .progress_min_val, .progress_max_val {
                font-size: 14px;
                padding: 0 5px;
                left: -5px;
                top: -27px;
            }

            .progress_max_val {
                 
                right: -85px;
              
            }



    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        .section_banner{
            height: 234px;
            padding: 0px;
        }

            .responsive-row{
                margin-top: -114px;
            }
            .banner_text p {
                font-size: 12px;
            }
            .align-items-center {
                margin-top: -36%;
            }
            .tk_counter_inner .progress {
                width: 110%;
                height: 20px;
            }

            .progressbar {
                left: 60.5%;
                background-color: #f9e310 !important;
                width: 4px !important;
                border-radius: 12px !important;
                height: 22px;
                padding-top: -14px;
                margin-top: 7px;
            }
            .progress .progress_label {
                top: -7px;
                bottom: -10px;
            }

            .tk_countdown {
                padding: 0px;
                margin-top: -3;
            }
            .progress_min_val, .progress_max_val {
                font-size: 14px;
                padding: 0 5px;
                left: -5px;
                top: -27px;
            }

            .progress_max_val {
                 
                right: -85px;
              
            }
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
   
        .section_banner{
            height: 234px;
         padding: 0px 0 0px;
        }

            .responsive-row{
                margin-top: -114px;
            }
            .banner_text p {
                font-size: 12px;
            }
            .align-items-center {
                margin-top: -36%;
            }
            .tk_counter_inner .progress {
                width: 110%;
                height: 20px;
            }

            .progressbar {
                left: 60.5%;
                background-color: #f9e310 !important;
                width: 4px !important;
                border-radius: 12px !important;
                height: 22px;
                padding-top: -14px;
                margin-top: 7px;
            }
            .progress .progress_label {
                top: -7px;
                bottom: -10px;
            }

            .tk_countdown {
                padding: 0px;
                margin-top: -3;
            }
            .progress_min_val, .progress_max_val {
                font-size: 14px;
                padding: 0 5px;
                left: -5px;
                top: -27px;
            }

            .progress_max_val {
                 
                right: -85px;
              
            }
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    
       
        .section_banner{
            height: 234px;
        }

            .responsive-row{
                margin-top: -114px;
            }
            .banner_text p {
                font-size: 12px;
            }
            .align-items-center {
                margin-top: -36%;
            }
            .tk_counter_inner .progress {
                width: 110%;
                height: 20px;
            }

            .progressbar {
                left: 60.5%;
                background-color: #f9e310 !important;
                width: 4px !important;
                border-radius: 12px !important;
                height: 24px;
                padding-top: -14px;
                margin-top: 7px;
            }
            .progress .progress_label {
                top: -7px;
                bottom: -10px;
            }

            .tk_countdown {
                padding: 0px;
                margin-top: -3;
            }
            .progress_min_val, .progress_max_val {
                font-size: 14px;
                padding: 0 5px;
                left: -5px;
                top: -27px;
            }

            .progress_max_val {
                 
                right: -85px;
              
            }
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    
       
        .section_banner{
            height: 234px;
        }

            .responsive-row{
                margin-top: -114px;
            }
            .banner_text p {
                font-size: 12px;
            }
            .align-items-center {
                margin-top: -36%;
            }
            .tk_counter_inner .progress {
                width: 110%;
                height: 20px;
            }

            .progressbar {
                left: 60.5%;
                background-color: #f9e310 !important;
                width: 4px !important;
                border-radius: 12px !important;
                height: 24px;
                padding-top: -14px;
                margin-top: 7px;
            }
            .progress .progress_label {
                top: -7px;
                bottom: -10px;
            }

            .tk_countdown {
                padding: 0px;
                margin-top: -3;
            }
            .progress_min_val, .progress_max_val {
                font-size: 14px;
                padding: 0 5px;
                left: -5px;
                top: -27px;
            }

            .progress_max_val {
                 
                right: -85px;
              
            }
    }