.ColorLegend .Legend{
  width: 200px;
  height: 100px;
  border: 1px solid #232323;

}
.ColorLegend  .circle{
  width: 15px;
  height: 15px;
  border: 0px solid #232323;
  border-radius: 0%;
  flex-direction: row;
}
.tier {
  display: flex;
  /* width: 100%; */
  margin: 5px 5px 5px 25px;
}
.tier p {
  padding-left: 10px;
  /* text-align: left; */
  font-size: 14px;
}

/* .circle{
  margin-left: 50%;
} */

p{
  text-align: left;
}

.Dropdown {
border: 1px solid #00287d !important;
border-radius: 0px !important;
border-style: hidden !important;

}