.hello{
  height: 100vh;
  /* background-image:url('./DHSP.jpg'); */
  opacity: 0.8;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dropRadi{
  background: #f9f9f9;
color: #00287d !important;
/* border: none; */
border: 1px solid #00287d;
/* border-radius: 30px; */
margin: 5px;
font-size: 12px !important;;
font-weight: 600;
word-wrap: break-word;
white-space: normal;
z-index: 2;
}

.appNavbar{
  width: 100%;
  /* background-color: rgba(0,0,0,0.1); */
  position: fixed;
}
.a{
  color: #003082 !important;
}


.nav-brand, a{
  font-size: 18px;
  color:#003082;
}

.navbar-brand{
  font-size: 28px;
  letter-spacing: 4px;
  font-weight: bold;
}


.hhh{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  /* background-color: rgba(0,0,0,0.1); */
}
/* .row1 {
  min-height: 400px;
  margin-top: 10%;
  height: 20vh;
  margin-top: 200px;
} */
.hhh h1{
  font-size: 4.5em;
  color :orange;
  text-align: center;
  text-transform: capitalize;
}

.hhh   p{
  margin-top: 5%;
  font-size: 2em;
  /* color: rgb(63,65,70); */
  text-align: center;
}
