.ca-layout-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.needs-card {
    height: 400px;
    margin-right: 30px;
}

.readiness-card {
    height: 400px;
    margin-right: 30px;
}

.ca-temp-card {
    border-radius: 20px;
    box-shadow: 0px 0px 5px #ddd;
    margin: 10px;
}
.select__dropdown-indicator {
    background:#002F81;
    padding: 11px 14px !important;
}

.limitedCountries{
    padding:1% 0;
}
.countries{
    width: 100px;
    padding: 10px;
}
.fourCountries{
    display: inline-block;
    /* margin: auto; */
    width: 100%;
    text-align :left;
    /* padding: 1%; */
    /* padding-left: 5px; */
    margin-top: -2px;
}


/* @media only screen and (max-width:450){
.radarPadding{
    padding: 5px
}
} */


/* @media  screen and (max-width: 600px) {
    .radarPadding{
        padding: 5px !important
    }
  } */


@media only screen and (min-width: 480px){
    .radar{
    padding: 50px !important
    }
    .block {
        display:'block' !important
         }
}

    @media only screen and (max-width: 480px){
        .radar{
        padding: 5px !important
        }
        .block {
            display:'block' !important
             }
           
}